/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: rgb(250, 139, 217);
  --pink-dark: rgb(178, 64, 123);
}

body {
  background-color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Nav styling */

.logo {
  margin-top: 20px;
  width: 5em;
  margin-bottom: 20px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 2rem;
  position: relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

/* Nav buttons styling */

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  padding: 0.2em;
  color: var(--pink);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  background-color: var(--pink-dark);
  height: 0.13em;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  width: 0%;
}

a:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: var(--pink);
}

/* Burger styling */

.burger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.line {
  width: 3em;
  height: 0.3em;
  background: var(--pink);
  margin: 0.7em;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

/* maain styling */

#main {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  cursor: default;
}

h1 {
  color: var(--pink);
  font-size: 80px;
  transition: 2s ease-in-out;
}

h1:hover {
  color: black;
  transition: 0.5s;
}

h1 span {
  color: black;
}

h1:hover span {
  color: var(--pink);
  transition: 0.5s;
}

h2 {
  font-size: 20px;
  transition: 2s ease-in-out;
}

.main-photo {
  padding-top: 25px;
  width: 70%;
  opacity: 50%;
  border-radius: 10px;
}

/* Media queries for nav and main */

@media only screen and (max-width: 1024px) {
  .burger {
    display: block;
    transition: 0.7s ease-in-out;
  }

  .burger:hover {
    background-color: var(--pink-dark);
    border-radius: 10px;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 8vh;
    background-color: var(--pink-dark);
    height: 92vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
  }

  nav ul.active {
    transform: translate(0%);
    transition: 1s;
  }

  nav a {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  #main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    transition: 2s;
  }
}

@media only screen and (max-width: 760px) {
  nav ul {
    width: 100%;
  }
  h1 {
    font-size: 50px;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 450px) {
  #main {
    margin: 0 auto;
  }
  h1 {
    font-size: 30px;
    transition: 0.5s;
  }
}

/* about section styling */
#about {
  height: 400px;
  margin-bottom: 200px;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  cursor: default;
}

.about-describe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-describe p {
  margin-right: 10px;
  border: 2px solid var(--pink-dark);
  border-radius: 2px;
}

/* about media queries */

@media only screen and (max-width: 800px) {
  .about-describe {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .about-describe p {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

/* offer section styling */

#offer {
  height: 100vh;
}

h4 {
  color: var(--pink-dark);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  cursor: default;
}

.offer-cards {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--pink-dark);
  width: 250px;
  height: 450px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: var(--pink);
  transform: scale(1.05);
  transition: all 1s ease;
}

.card-image {
  height: 50px;
  margin: 10px 0px 10px 0px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: var(--pink);
}

.card:hover .card-image {
  color: var(--pink-dark);
}

.card h5 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  width: 150px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card button {
  background-color: var(--pink);
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  transition: 1s ease-in-out;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.card:hover .card-button {
  background-color: var(--pink-dark);
}

.card:hover .card-image {
  transform: translateY(-7px);
  transition: 1s;
}

/* offer media queries */

@media only screen and (max-width: 800px) {
  #offer {
    height: 1500px;
  }
  .offer-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

/* Footer styling */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background: var(--pink);
  padding: 20px 50px;
}

h6 {
  color: var(--pink-dark);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  cursor: default;
}

footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social-icon li {
  list-style: none;
}

footer .social-icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.7s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
  color: var(--pink-dark);
}
